<section id="about" class="py-5 bg-light">
  <div class="container text-center">
    <h2 class="mb-4">Enlightening Minds with Knowledge & Faith</h2>
    <p class="lead">Online Quran, Arabic, and Islamic Studies for all</p>
    <p>
      We are committed to providing accessible Islamic education through structured, faith-based learning led by qualified teachers. <br>
      Al Nour Institute is an online madrasah that offers Islamic studies, quran and Arabic classes for all ages. Classes are conducted through Microsoft Teams/Google Meet. We are conveniently available for teaching from Sunday to Saturday.
    </p>
  </div>
</section>
