.hero {
    background-color: #f9f6f1;
    color: #083b2d;
  }

  .top-right-logo {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 1000;
  }
  .logo {
    display: block;
    width: 120px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
  }

  